doctype html
html(lang='en')
  head
    include jade/head/_meta
    title jonimeeder.com
    include jade/head/_favicon
    include jade/head/_styles
    
  body
    include jade/body/_main-button
    include jade/body/_main-iframe
    include jade/body/_main-modal
  
    include jade/scripts/_body-scripts
