v-app
  #bg-img(v-bind:style='{ backgroundImage: "url(" + apod.url + ")", backgroundSize: "cover" }')
  include includes/app_vue/v-navigation-drawer.pug
  include includes/app_vue/v-toolbar.pug
  include includes/app_vue/v-speed-dial.pug
  include includes/app_vue/v-dialog.pug
