.fixed-action-btn
  a.btn-floating.btn-large.deep-purple.darken-3
    i.large.material-icons more_vert
  ul
    li
      a.modal-trigger.btn-floating.deep-purple.darken-2(href='#info-modal')
        i.material-icons info_outline
      a.btn-floating.deep-purple(href='https://apod.nasa.gov')
        i.material-icons open_in_browser
