.container
  // Modal Structure
  #info-modal.modal
    .modal-content
      h4#apod_title
      h6.deep-purple-text.text-darken-1
        script(src='js/date.js')
      p#apod_explanation
      blockquote#copyright
    .modal-footer
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Dismiss
