#bottom-nav-wrap
  v-bottom-nav.grey.lighten-3(absolute v-bind:value='dateBrowse.show')
    v-btn.primary--text(flat light value='1' @click.native='prevDay()')
      span Back
      v-icon navigate_before
    //- v-btn.teal--text(flat light @click.native='dateBrowse.active = 2' v-bind:value='dateBrowse.active === 2')
    //-   span Favorites
    //-   v-icon favorites

    v-btn.primary--text(flat light value='3' @click.native='nextDay()')
      span Forward
      v-icon navigate_next
