v-layout(row justify-center)
  v-dialog(v-model='infoModal' fullscreen transition='dialog-bottom-transition' v-bind:overlay=false)
    v-card
      v-toolbar.primary(dark)
        v-btn(icon dark @click.native='infoModal = false')
          v-icon close
        v-toolbar-title {{ apod.title }}
      v-container
        v-layout(row wrap)
          v-flex(xs12)
            a(v-bind:href='apod.url')
              img.elevation-3.modal-image.my-3(v-bind:src='apod.url')
          v-flex(xs12)
            p.text-xs-center.primary--text.darken-2 {{ postDate }}
            p.text-xs-center(v-if='apod.copyright')
              span Credit &amp; Copyright:&nbsp;
              span.primary--text.lighten-2 {{ apod.copyright }}
          v-flex(xs12)
            p.lead {{ apod.explanation }}
          v-flex(xs12)
            p(style='text-align: right')
              v-btn(light flat primary @click.native='infoModal = false') Dismiss
