v-navigation-drawer(temporary v-model="sideNav" light overflow absolute)
  v-list.pa-0
    v-list-tile(avatar tag="div")
      v-list-tile-avatar
        img(src="http://facetheforce.today/random/85?r=1")
      v-list-tile-content
        v-list-tile-title JEM Site
  v-list.pt-0
    v-divider
    v-list-tile(v-for="i in navItems" v-bind:key="i.title")
      v-list-tile-action
        v-icon {{ i.icon }}
      v-list-tile-content
        v-list-tile-title {{ i.title }}
    v-divider
  v-list
    div(style='font-weight: 500; padding: 0 16px;')
      p Browse the APOD Archive
    //- v-list-tile
    //-   p Browse the APOD Archive
    //- v-list-tile
    //-   v-list-tile-content(style='padding-top: 18px; overflow: visible;')
    //-     v-list-tile-title Browse the APOD Archive
    v-list-tile
      v-list-tile-content(style='padding-top: 18px; overflow: visible;')
        include v-date-picker.pug

